@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <p>Usernmame</p>
    <input type="email" placeholder="@@adventure-works.com"/>
    <p>Password</p>
    <input type="password"/>
    <button>Login</button>
    <p>Register Here</p>
</div>
